@model IEnumerable<OneMoreTime.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProPercLucro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProQtdEstoque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProDescricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProPercLucro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProQtdEstoque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProDescricao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
