@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <center><h3 class="alert alert-info">Clientes</h3></center>
    <table class="table table-hover table-striped">
        <tr>
            <th>
                Nome
            </th>
            <th>
                Endereço
            </th>
            <th>
                Telefone
            </th>
            <th>
                Bairro
            </th>
            <th>
                Cidade
            </th>
        </tr>

        @foreach (OneMoreTime.Models.Cliente item in ViewBag.clientes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CliNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CliEndereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CliTelefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CliBairro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CliCidade)
                </td>
            </tr>
        }

    </table>
</div>